html, body {
  margin: 0px;
  padding: 0;
}

#wrapper {
  margin: 50px auto 0px auto;
  width: 456px;
}

h1 {
  float: left;
  margin: 10px 0px 25px 0px;
  width: 50%;
}

#score {
  float: right;
  font-size: 15px;
  font-weight: bold;
  margin: 15px 0px 25px 0px;
  text-align: right;
  width: 20%;
}

.box {
  border: 1px solid #ccc;
  float: left;
  height: 150px;
  width: 150px;
}

.mole {
  background: url(../images/mole.png) no-repeat;
  display: none;
  height: 150px;
  width: 150px;
}

.hole-selected {
  background: url(../images/mole.png) no-repeat;
}

.mole-hit {
  background: #990000;
}

.clear {
  clear: both;
}
